.Logindiv{
    width: 300px;
    margin: 100px auto;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 8px 2px rgb(0, 0, 0,0.4);
}

.Logindiv input{
    width: 90%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.Logindiv button{
    margin: 10px 0;
    border: none;
    color: white;
    border-radius: 10px;
    background-color:  #007BFF;
    padding:10px 10px;
    cursor: pointer;

}

.Logindiv span {
    display: block;
    margin-top: 15px;
    color: #555;
}